*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box
  
html, body
  font-family: $noto-sans
  scroll-behavior: smooth
  @include full-size

body
  min-height: 100vh
 
h2
  font-size: 1.5rem

a
  min-width: 44px
  min-height: 44px
  text-decoration: none
  
button
  min-width: 44px
  min-height: 44px 
  &:hover
    cursor: pointer
    
//Helpers
.hide
  display: none

*
  &:focus
    outline: 3px solid #d57149


.material-icons
  padding-bottom: 3px
  user-select: none
  vertical-align: middle !important
  &.inherit
    font-size: inherit

.color-primary
  color: map-get($colors, "primary") 

.center
  text-align: center

.darkModePrimary
  color: #ffffff
  background-color: rgb(33, 33, 33)

.navbar-dark-mode
  background-color: rgb(225, 255, 255,0.12)
  a
    color: #ffffff

.card-dark-mode
   background-color:  rgb(225, 255, 255,0.12)
   color: #ffffff
   z-index: 500
   
.nav-dark-mode
  background-color:  rgb(225, 255, 255,0.12)
  color: #ffffff
  a
    color: #ffffff


