*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box
  
html, body
  font-family: $noto-sans
  scroll-behavior: smooth
  color: var(--textColor)
  @include full-size

html 
  background: var(--Bgcolor) 
  --primary: #bc5100
  --Bgcolor: #F9F9F9
  --textColor: #232323 
  --bgInput : #F9F9F9 

html[data-theme='dark'] 
  background: var(--Bgcolor) 
  --primary: rgb(206,128,69)
  --Bgcolor: #232323 
  --textColor: rgb(255, 255, 255,0.87)
  --bgInput : #232323 




  
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after 
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms!important 
  transition-delay: 0!important 

body
  min-height: 100vh
 
h2
  font-size: 1.5rem

a
  min-width: 44px
  min-height: 44px
  text-decoration: none
  
button
  min-width: 44px
  min-height: 44px 
  &:hover
    cursor: pointer
    
//Helpers
.hide
  display: none

*
  &:focus
    outline: 3px solid #d57149


.material-icons
  padding-bottom: 3px
  user-select: none
  vertical-align: middle !important
  &.inherit
    font-size: inherit

.color-primary
  color: var(--primary)

.center
  text-align: center

.darkModePrimary
  color: #ffffff
  background-color: rgb(33, 33, 33)

.navbar-dark-mode
  background-color: rgb(225, 255, 255,0.12)
  a
    color: #ffffff

.card-dark-mode
   background-color:  rgb(225, 255, 255,0.12)
   color: #ffffff
   z-index: 500
   
.nav-dark-mode
  background-color:  rgb(225, 255, 255,0.12)
  color: #ffffff
  a
    color: #ffffff

.msg-failed
  text-align: center
  span
    font-size: 3rem
    color: var(--primary)


