<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content=" direstaurant Cari, Explore dan simpan Restoran pilihan favoritmu">
    <link rel="icon" type="image/png" href="./images/icon.png" alt="icon">
    <link rel="apple-touch-icon" href="./images/icon.png" alt="icon">
    <title>direstaurant</title>
</head>
<body>
    <a href="#restaurantContent" id="skip-content" class="forward skip-link card-1 "> Menuju ke konten  <i class="material-icons" aria-hidden="true">skip_next</i></a>
    <header class="header-apps">
        <app-bar></app-bar>
    </header>
   
    <main role="main" id="mainContent">
       
    
    </main>
    
    <set-mode></set-mode>
    <footer-element></footer-element>
    <div id="toast-notification"></div>
</body>
</html>